{{#if recipe}}
<h2>{{recipe.title}}</h2>

 <h1><a href="/recipe/{{recipe.title}}"></a></h1>
 <h3>Descirpition</h3>
    <h4><ul>{{recipe.descirpition}}</ul></h4>
<h3>Ingredients</h3>
    <h4><ul>{{recipe.ingredient}}</ul></h4>
<h3>Instructoins</h3>
    <h4><ul>{{recipe.instruction}}</ul></h4>
<h3>Rating!</h3>
    <h4><ul>{{recipe.rating}}</ul></h4>
    </ol>
{{else}}
<h2>that recipe couldn't be found</h2>
{{/if}}



<h2>Update Information</h2>
<form action="/recipe/{{recipe.title}}?_method=put" method="post">
 <ul>
  <li>Title: <input type="text" name="recipe[title]" placeholder="title" id="title"></li>
  <li>Descirpition: <input type="text" name="recipe[descirpition]" placeholder="desciption" ></li>
  <li>Ingredient: <input type="text" name="recipe[ingredient]" placeholder="ingredient"></li>
  <li>Instruction: <input type="text" name="recipe[instruction]" placeholder="instruction"></li>
  <li>Rating: <input type="text" name="recipe[rating]" placeholder="rating"></li>
</ul>
 <input type="submit" value="Update">
</form>

<h4>Remove Recipe</h4>
<form action="/recipe/{{recipe.title}}?_method=delete" method="post">
  <input type="submit" value="Remove">
</form>